nav.sidebar > div.sidebar-header > a > img{
    width: 20%;
}
.sidebar .sidebar-header .sidebar-brand {
    font-size: 18px;
}
.account_detail, .card_detail{
    display: none;
}
.feather-18{
    width: 18px;
    height: 18px;
}